.section3Container {
  margin-top: 5em;
  background: #0a3880;
  color: white;
}
.section3Title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10em;
  padding: 5em 5em;
}
.section3ContainerLeft {
  flex: 1;
  box-sizing: border-box;
}

.section3ContainerLeft h2 {
  font-family: "Playfair Display";
  font-size: 48px;
  line-height: 107.1%;
  color: #ffffff;
}

.section3ContainerLeft p {
  margin-top: 20px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.7;
}

.sectionContainerRight p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
}

.section3ContainerRight {
  flex: 1;
}
.section3Form {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.section3Email label,
.section3Telephone label {
  display: inline-block;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.section3Input {
  width: 90%;
  height: 30px;
  padding: 10px 10px;
  background: #2a4e876e;
  color: white;
  font-size: 15px;
  outline: none;
  border: none;
}
.section3Input::placeholder {
  opacity: 1;
  color: #fff;
}
.section3Email {
}
.section3Btn {
  width: 100%;
}
.section3Btn button {
  display: block;
  width: 95%;
  padding: 16px 20px;
  height: 56px;
  outline: none;
  border: none;
  cursor: pointer;
  background: #9e6a57;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 818px) {
  .section3Container {
    margin-top: 4em;
  }
  .section3Title {
    display: block;
    padding: 2em 0em;
    padding-bottom: 1em;
  }
  .section3ContainerRight {
    margin-top: 21px;
  }
  .section3Email label,
  .section3Telephone label {
    display: inline-block;
    margin-bottom: 5px;
    line-height: 15px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
  .section3Btn button {
    width: auto;
  }
}
